:root {
  --primaryTextColor: #212121;
  --hoverColor: #2196F3;
  --buttonColor: #2196F3;
  --secondaryTextColor: #757575;
  --titleColor: #FFFFFF;
  --opacityWhite: rgba(255, 255, 255, 0.6);
  --buttonBackgroundColor: #F5F4FA;
  --footerBackgroundColor: #2F303A;
  --secondaryBackgroundColor: #F5F4FA;
  --buttonHoverColor: #188CE8;
  --borderColor: solid #EEEEEE;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: var(--titleColor);
    color: #212121;
}

/* Reset */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--titleColor);
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--buttonColor);
  text-decoration: none;
  margin-right: 93px;
}

.studio-white {
  color: var(--titleColor);
}

.studio-black {
  color: var(--primaryTextColor);
}

.header-container {
  display: flex;
}
 
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  align-items: center;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primaryTextColor);
  text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--hoverColor);
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondaryTextColor);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--hoverColor);
}

.top {
background: var(--footerBackgroundColor);
padding-top: 200px;
padding-bottom: 200px;
}

.top-text {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
color: var(--titleColor);
max-width: 696px;
margin: 0 auto;
}

.top-button {
width: 216px;
height: 50px;
background: var(--buttonColor);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
text-align: center;
letter-spacing: 0.06em;
color: var(--titleColor);
cursor: pointer;
margin: 0 auto;
display: block;
}

.top-button:hover, 
.top-button:focus {
  background-color: var(--buttonHoverColor);
}

.features-display {
  display: none;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100% - 60px) / 4);
}

.features-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primaryTextColor);
margin-bottom: 10px;
}

.features-text {
flex-basis: 270px;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--secondaryTextColor);
}

.work-title, .team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--primaryTextColor);
margin-bottom: 50px;
}

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team {
background: var(--secondaryBackgroundColor);
}

.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-card {
  background-color: var(--titleColor);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaryTextColor);
  margin-top: 30px;
}

.team-member-position {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondaryTextColor);
margin-top: 10px;
margin-bottom: 30px;
}

.footer {
background: var(--footerBackgroundColor);
padding-top: 60px;
padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.contact-list {
  display: flex;
  gap: 9px;
  flex-direction: column;
}

.contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--opacityWhite);
  text-decoration: none;
  }

.contact-footer:hover,
.contact-footer:focus {
  color: var(--titleColor);
}


/* Портфолио */

.portfolio-title {
  display: none;
}

.portfolio-button-list {
  display: flex; 
  gap: 8px;
  justify-content: center;
}

.portfolio-button {
width: 125px;
height: 38px;
left: 593px;
top: 174px;
background: var(--buttonBackgroundColor);
border-radius: 4px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: var(--primaryTextColor);
cursor: pointer;
border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
background: var(--hoverColor);
color: var(--titleColor);
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  /* padding-bottom: 94px; */
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-name {
  padding: 20px 24px; 
  border: 1px var(--borderColor);
  border-top: none;
}

.project-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primaryTextColor);
}

.project-text {
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--secondaryTextColor);
margin-top: 4px;
}